# Server
[Interface]
# Name = vpn.grupp3.dnlab.se
Address = 10.250.0.254/24
ListenPort = 51820
PrivateKey = <redacted>
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o ens192 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o ens192 -j MASQUERADE


# Clients
[Peer]
# Name = Client1
PublicKey = <redacted>
AllowedIPs = 10.250.0.1/32

[Peer]
# Name = Client2
PublicKey = <redacted>
AllowedIPs = 10.250.0.2/32
